/* start custom scss snippet */

.blue-div{
	background-color: #EEF7FF;
	white-space:pre-wrap;
	padding-left : 20px;
	padding-right : 20px;
	padding-bottom : 30px;
	margin-bottom : 10px;
}

.yellow-div{
	background-color: #FFF9E3;
	white-space:pre-wrap;
	padding-left : 20px;
	padding-right : 20px;
	padding-bottom : 30px;
}


/* end custom scss snippet */
